# .. used in dinogame - enable if playing around with that one...
#matplotlib

#IPython

#jupyter
#notebook
#ipykernel

#pygame

# ^^ used in dinogame - enable if playing around with that one...

numpy
pillow

loguru

dnspython
pyroute2

ollama
google-genai

pydantic
pydantic-settings
pytz
pydantic-extra-types
email-validator

paho-mqtt
schedule

jinja2

# PyYAML
ruamel.yaml

# FRESH FRESH FOR ME MYSELF AND I
reputils==0.0.12