-r requirements.txt


pre-commit==4.5.*

# linting
isort==7.0.*
black==25.12.*
mypy==1.19.*

pytest==9.0.*
# needed for pytest
httpx

# local black-connect-daemon
#aiohttp==3.11.*

# mypy-stubs
types-python-dateutil==2.9.*

types-pytz>=2025.2
types-cachetools
types-requests>=2.32.4.20250913

# gguf
# accelerate

